{% extends 'base.html' %}

{% block content %}
  <h2>Appcinema</h2>
  <p>Hello {{ user.username }}!</p>

  Wanna see a movie? Book a seat here!

  <div class="step_2">
      <div class="movie-choice">
          <form class="movie" action="" method="post">
              <select name="choose_movie" class="movie-chooser">
              </select>
              <input type="button" name="next" value="next" class="step_2_next">
          </form>
      </div>
  </div>
    <div class="step_3">
        <div class="seat-reservation">
            <form class="seats" action="" method="post" name="seats">
                {% csrf_token %}
                {% for row, seats in rows.items %}
                    <div class="row">
                        {{ row.name }}
                        {% for seat in seats %}
                            <div id="{{ row.name }}_{{ seat.number }}" class="seat {{ row.name }}_{{ seat.number }}">
                                {{ seat.number }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <input type="button" name="next" value="next" class="step_3_next">
            </form>
        </div>
    </div>
    <div class="step_4">
        <div class="reservation-confirmation">
            Please confirm your registration:

            <div class="confirmation-info">


            </div>

            <input type="button" name="next" value="confirm" class="step_4_confirm">

        </div>
    </div>





{% endblock %}